*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #bbb4b4;
  font-family: "IBM Plex Serif", serif;
  font-family: "PT Serif", serif;
}

@media (min-width: 300px) {
  header {
    position: relative;
    width: 100%;
    height: 100px;
    background-image: url("../ing/herb.png");
    background-position: 1% 5%;
    background-size: cover;
  }
  header h1 {
    position: relative;
    top: 30%;
    text-align: center;
    color: #fff;
    z-index: 1000;
  }
  header h1 span {
    color: #d41919;
  }
  header .img__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(32, 32, 32, 0.8);
    z-index: 1;
  }
  nav {
    position: relative;
    height: 50px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #4e91e9;
  }
  nav ol {
    width: 100%;
  }
  nav ol .main__item .main__href {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  nav ol .main__item .second__main {
    position: absolute;
    display: none;
    height: 645px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4e91e9;
    z-index: 10000;
  }
  nav ol .main__item .second__main li {
    padding-top: 50px;
    border-top: 2px dotted #000;
    text-decoration: none;
    padding-bottom: 20px;
  }
  nav ol .main__item .second__main li a {
    text-decoration: none;
    color: #441010;
  }
  nav ol .main__item .second__main li:first-child {
    border-top: none;
  }
  nav ol .main__item:hover > .second__main {
    display: block;
  }
  .container {
    width: 280px;
    margin: 20px auto;
  }
  .container .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 25px;
  }
  .container .about h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .container .section {
    position: relative;
  }
  .container .section .hero__element {
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    background-image: url("../ing/chess.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .container .section .hero__element .hero__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(32, 32, 32, 0.4);
  }
  .container .section .hero__element .hero__text {
    position: relative;
    padding: 10px;
    color: #fff;
  }
  .container .section .hero__element .hero__text h2 {
    text-align: center;
    font-size: 25px;
  }
  footer {
    text-align: center;
    font-size: 13px;
    color: #fff;
    background-color: #707070;
  }
}

@media (min-width: 375px) {
  header {
    height: 250px;
    background-position: 5px 2px;
    background-repeat: no-repeat;
  }
  .container {
    width: 350px;
  }
  .container .section .hero__element {
    text-align: center;
  }
}

@media (min-width: 414px) {
  header {
    height: 250px;
    background-position: 1px -7px;
    background-repeat: no-repeat;
  }
  .container {
    width: 400px;
  }
  footer {
    margin-bottom: 1px;
  }
}
/*# sourceMappingURL=style.css.map */